# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Load the city_data.csv file from output folder 
ct_df = pd.read_csv("../output_data/city_data.csv")
ct_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Soyo,-6.1349,12.3689,76.28,85,0,6.17,AO,1610423345
1,Sioux Lookout,50.1001,-91.9170,23.00,86,40,4.61,CA,1610422897
2,Airai,-8.9266,125.4092,76.08,74,40,1.88,TL,1610423624
3,Cape Town,-33.9258,18.4232,68.00,77,0,9.22,ZA,1610423624
4,Esperance,-33.8667,121.9000,78.80,34,93,6.91,AU,1610423624
...,...,...,...,...,...,...,...,...,...
700,Magalia,39.8121,-121.5783,48.20,87,1,6.91,US,1610423770
701,Petrove,48.3247,33.2562,24.80,86,75,4.47,UA,1610423770
702,Suluova,40.8313,35.6479,53.60,71,75,5.75,TR,1610423771
703,Sovetskiy,61.3614,63.5842,-24.09,87,0,1.57,RU,1610423771
704,Äänekoski,62.6946,25.8180,16.00,92,90,18.41,FI,1610423771

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = ct_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = ct_df["Humidity"]

In [5]:
# Plot Heatmap
fig = gmaps.figure(center=(20, 150), zoom_level=1.6)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,dissipating=False, max_intensity=max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Narrow down the cities to fit ideal weather:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Humidity is lower than 80% but greater than 50.
select_city_df = ct_df.loc[(ct_df["Max Temp"] >= 70) & (ct_df["Max Temp"] <= 80) &\
                           (ct_df["Wind Speed"] <= 10) & (ct_df["Cloudiness"] == 0) &\
                          (ct_df["Humidity"] >= 50) & (ct_df["Humidity"] <= 80)]

# Drop any rows that don't contain all above conditions
select_city_df = select_city_df.dropna()
select_city_df.reset_index(drop=True)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Nicoya,10.1483,-85.4520,77.00,78,0,6.91,CR,1610423648
1,Yaan,7.3833,8.5667,72.14,67,0,3.76,NG,1610423664
2,Bom Jesus,-9.0744,-44.3586,72.75,78,0,2.04,BR,1610423698
3,Luanda,-8.8368,13.2343,75.20,78,0,2.30,AO,1610423612
4,Lakes Entrance,-37.8811,147.9810,73.00,66,0,5.01,AU,1610423728
5,Lázaro Cárdenas,17.9583,-102.2000,72.99,74,0,3.40,MX,1610423730
6,Pochutla,15.7432,-96.4661,73.99,76,0,3.00,MX,1610423730
7,Beloha,-25.1667,45.0500,77.70,73,0,9.51,MG,1610423732
8,Caxito,-8.5785,13.6643,75.20,78,0,2.30,AO,1610423768

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
# Create a hotel_df
hotel_df = select_city_df.reset_index(drop=True)

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Nicoya,10.1483,-85.4520,77.00,78,0,6.91,CR,1610423648,
1,Yaan,7.3833,8.5667,72.14,67,0,3.76,NG,1610423664,
2,Bom Jesus,-9.0744,-44.3586,72.75,78,0,2.04,BR,1610423698,
3,Luanda,-8.8368,13.2343,75.20,78,0,2.30,AO,1610423612,
4,Lakes Entrance,-37.8811,147.9810,73.00,66,0,5.01,AU,1610423728,
5,Lázaro Cárdenas,17.9583,-102.2000,72.99,74,0,3.40,MX,1610423730,
6,Pochutla,15.7432,-96.4661,73.99,76,0,3.00,MX,1610423730,
7,Beloha,-25.1667,45.0500,77.70,73,0,9.51,MG,1610423732,
8,Caxito,-8.5785,13.6643,75.20,78,0,2.30,AO,1610423768,

In [19]:
# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

# Loop through the cities_pd and run a hotel search for each city
for index, row in hotel_df.iterrows():
# Extract latitude and longitude and the city name
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]    
    
    # update address key value
    params["location"] = f"{lat},{lng}"
    
    # make request
    response = requests.get(base_url, params=params).json()
    
    # test if there is a an available hotel in the city
    try:
        hotel_name = response["results"][0]["name"]
        print(f"Closest hotel in {city_name} is {hotel_name}.")
        hotel_df.loc[index, "Hotel Name"] = hotel_name

    # if there is no hotel available, throw an error message
    except (KeyError, IndexError):
        print(f"No Hotel available in {city_name}")

Closest hotel in Nicoya is Hotel Doña Marta.
No Hotel available in Yaan
Closest hotel in Bom Jesus is Hotel Brasão & Floricultura Bella Flor.
Closest hotel in Luanda is EPIC SANA Luanda.
Closest hotel in Lakes Entrance is The Esplanade Resort & Spa.
Closest hotel in Lázaro Cárdenas is Hotel de Casablanca.
No Hotel available in Pochutla
No Hotel available in Beloha
Closest hotel in Caxito is Banco Millennium Atlântico.

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))